<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <a href="/uploadfile"> Upload your ZIP FILE  </a></br></br></br></br>
  <a href="/create">  Click here and CLEAN your dataset </a></br></br></br></br>
  <a href="/predict"> Make PREDICT the output </a></br></br></br></br></br>

</head>
<body style="background-color:#DBF9FC">
<br>
    NOTES: </br>
</br>
1.Upload your zip file by using the upload zip file link </br>
</br>
2.clean your data by clicking the cleaning dataset link </br>
</br>
3.Make predict the output from your model by clicking Predict link </br>
</br>


</p>


</body>
</html>